<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Seriously, I thought we knew pretty much every thing about each other. </p>
    <p>It breaks my heart that you have to come this far to know me.</p>
    <p>Just click on the contact us page and conatct me to know more about me.</p>
<%- include("partials/footer"); -%>
