<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> Come on you know how to contact me. </p>
    <p>Just in case if you did forgot how, dial me up at 6369840631</p>
<%- include("partials/footer"); -%>
